.ceh-container {
  text-align: center;
  background: #001E40;
  
  padding: 40px 20px;
  
}

.ceh-heading {
  font-size: 28px;
  font-weight: bold;
  color:#FFD700;
  margin-bottom: 15px;
}

.ceh-description {
  font-size: 16px;
  color: white;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}

.ceh-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

@keyframes blinkHighlight {
  0% { background: #FFD700; box-shadow: 0 0 10px #FFD700; }
  50% { background: #FFC000; box-shadow: 0 0 20px #FFC000; }
  100% { background: #FFD700; box-shadow: 0 0 10px #FFD700; }
}

.ceh-button {
  background: #FFD700;
  color: #001E40;
  font-size: 16px;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  animation: blinkHighlight 1s infinite alternate; /* Animation added */
}

.ceh-button:hover {
  background: #333;
  color: white;
  box-shadow: 0 0 15px #FFD700;
}


.whatsapp-icon {
  font-size: 28px;
  color: #25d366;
  cursor: pointer;
}
