.summary-container {
  width: 100%;
  background-color: #f8f9fc;
  padding: 40px 0 40px 20px;
  box-sizing: border-box;
  
}

.summary-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.summary-text {
  width: 60%;
  font-size: 16px;
  color: #333;
  line-height: 1.6;
}

.summary-text h2 {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  margin-bottom: 15px;
}

.summary-text p {
  margin-bottom: 10px;
}

.summary-details {
  flex: 1;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.summary-details p {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  margin-bottom: 10px;
}

.summary-details a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.summary-buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.book-seat,
.test-paper {
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

.book-seat {
  background-color: #007bff;
  color: #fff;
}

.test-paper {
  background-color: #000;
  color: #fff;
  position: relative;
}

.free-badge {
  background: red;
  color: white;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  right: -8px;
}

.book-seat:hover {
  background-color: #0056b3;
}

.test-paper:hover {
  background-color: #333;
}

@media (max-width: 768px) {
  .summary-content {
    flex-direction: column;
    align-items: left;
    text-align: left;
    
  }
  .summary-text{
    text-align: start;
    width: 100%;
  }

  .summary-details {
    width: 80%;
    text-align: left;
  }
  .summary-text h2 {
    font-size: 18px;
  }
  .summary-text p {
    font-size: 13px;
  }

  .summary-buttons {
    flex-direction: column;
    align-items: center;
  }
}
