.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background:  #001E40;
 
  
  flex-wrap: wrap;
}

.banner-content {
  max-width: 65%;
}

.banner-heading {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #FFD700;
}

.banner-description {
  font-size: 16px;
  line-height: 1.5;
  color: white;
}

@keyframes blinkHighlight {
  0% { background: #FFD700; box-shadow: 0 0 10px #FFD700; }
  50% { background: #FFC000; box-shadow: 0 0 20px #FFC000; }
  100% { background: #FFD700; box-shadow: 0 0 10px #FFD700; }
}

.banner-button {
  background: #FFD700;
  color: #001E40;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  animation: blinkHighlight 1s infinite alternate; /* Apply the animation */
}

.banner-button:hover {
  color: white;
  background: #f0f0f0;
  box-shadow: 0 0 15px #f0f0f0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .banner-container {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .banner-content {
    max-width: 100%;
  }

  .banner-button {
    margin-top: 15px;
    width: 100%;
  }
}
